# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat deployments
/ignition/deployments/

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types
/typechain-types

# Hardhat coverage reports
/coverage

# Local .env
.env

